.container {
  text-align: center;
  padding: 60px;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.subtitle {
  color: #94a3b8;
  margin-bottom: 40px;
}

.card {
  background: #1e293b;
  padding: 30px;
  border-radius: 16px;
  max-width: 600px;
  margin: auto;
}

.card.success {
  border: 2px solid #22c55e;
}

.btn {
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.login {
  background: #3b82f6;
  color: white;
}

.logout {
  background: #ef4444;
  color: white;
}

.token-box {
  margin-top: 30px;
  text-align: left;
  background: #020617;
  padding: 15px;
  border-radius: 10px;
  overflow-x: auto;
}

.center {
  text-align: center;
  margin-top: 100px;
}
